#kf2
{
	width:50px;
	height: 50px;
	background-color:red;
	position:relative;
	-webkit-animation: moveSquare 5s ease 0s 5 normal;
}

@-webkit-keyframes moveSquare
{
	0% 
	{
		top:0px;
		left:0px;
		background:red;
	}
	
	50% 
	{
		top:200px;
		left:0px;
		background:yellow;
	}
	
	100% 
	{
		top:0;
		left:0px;
		background:red;
	}
}